Coursera capstone

In [16]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
print("Hello Capstone Project Course!")

Hello Capstone Project Course!

In [17]:
df = pd.read_csv("https://lincolnshire.ckan.io/dataset/c2d3319a-4a35-4e38-baa1-d85e33fd8d9c/resource/266fac8f-4409-4db6-adf8-cb76f1450445/download/houseprices.csv")

In [20]:
lm=LinearRegression()

In [31]:
x=df[["AveragePriceDetached"]]
y=df["AveragePrice"]
lm.fit(x,y)
lm.predict(x)

array([186964.22304671])

,AveragePrice,AveragePriceDetached,AveragePriceSemiDetached,AveragePriceTerraced,AveragePriceFlatOrMaisonette
AveragePrice,1.000000,0.750718,0.786254,0.874543,0.562630
AveragePriceDetached,0.750718,1.000000,0.965257,0.952750,0.878430
AveragePriceSemiDetached,0.786254,0.965257,1.000000,0.984081,0.886772
AveragePriceTerraced,0.874543,0.952750,0.984081,1.000000,0.846715
AveragePriceFlatOrMaisonette,0.562630,0.878430,0.886772,0.846715,1.000000